.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.522000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.016000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.006143;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.738000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-3.490912px;}
._15{margin-left:-2.483019px;}
._0{margin-left:-1.221819px;}
._5{width:1.221819px;}
._10{width:12.331822px;}
._a{width:13.384734px;}
._1{width:14.487285px;}
._11{width:15.728546px;}
._f{width:17.695108px;}
._4{width:19.416248px;}
._7{width:21.818881px;}
._14{width:35.364766px;}
._c{width:44.566388px;}
._19{width:800.229043px;}
._6{width:899.390103px;}
._18{width:975.954491px;}
._16{width:998.102104px;}
._b{width:1046.556686px;}
._12{width:1122.462800px;}
._3{width:1231.541600px;}
._17{width:1280.229043px;}
._8{width:1300.105600px;}
._d{width:1353.383200px;}
._13{width:1404.512000px;}
._1b{width:1434.154805px;}
._9{width:1490.947527px;}
._1a{width:1514.052373px;}
._e{width:1588.982400px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:39.850400px;}
.fs0{font-size:43.636400px;}
.fs2{font-size:47.820800px;}
.fs1{font-size:57.384800px;}
.y2a{bottom:30.022000px;}
.y29{bottom:45.564000px;}
.y28{bottom:61.106000px;}
.y27{bottom:78.886000px;}
.y26{bottom:94.428000px;}
.y25{bottom:112.208000px;}
.y24{bottom:127.750000px;}
.y23{bottom:145.530000px;}
.y22{bottom:161.072000px;}
.y49{bottom:169.626000px;}
.y21{bottom:178.852000px;}
.y48{bottom:189.153000px;}
.y20{bottom:194.394000px;}
.y1f{bottom:209.936000px;}
.y47{bottom:212.246000px;}
.y0{bottom:220.000000px;}
.y1e{bottom:226.125000px;}
.y46{bottom:231.773000px;}
.y1d{bottom:249.103000px;}
.y45{bottom:254.866000px;}
.y1c{bottom:264.645000px;}
.y44{bottom:274.393000px;}
.y1b{bottom:280.187000px;}
.y1a{bottom:296.971000px;}
.y43{bottom:297.487000px;}
.y19{bottom:312.512000px;}
.y42{bottom:313.028000px;}
.y18{bottom:328.054000px;}
.y41{bottom:332.555000px;}
.y17{bottom:344.838000px;}
.y2b{bottom:346.500000px;}
.y40{bottom:352.217000px;}
.y16{bottom:360.380000px;}
.y15{bottom:377.756000px;}
.y3f{bottom:377.822000px;}
.y3e{bottom:393.363000px;}
.y14{bottom:395.370000px;}
.y3d{bottom:410.898000px;}
.y13{bottom:417.338000px;}
.y3c{bottom:428.432000px;}
.y12{bottom:432.880000px;}
.y3b{bottom:447.959000px;}
.y11{bottom:449.664000px;}
.y10{bottom:465.205000px;}
.y3a{bottom:471.052000px;}
.yf{bottom:480.747000px;}
.y39{bottom:488.586000px;}
.ye{bottom:498.043000px;}
.y38{bottom:506.121000px;}
.yd{bottom:515.657000px;}
.y37{bottom:525.647000px;}
.yc{bottom:535.319000px;}
.y36{bottom:548.741000px;}
.yb{bottom:551.459000px;}
.y35{bottom:566.275000px;}
.ya{bottom:569.073000px;}
.y34{bottom:583.809000px;}
.y9{bottom:586.687000px;}
.y33{bottom:603.336000px;}
.y8{bottom:606.189000px;}
.y7{bottom:623.803000px;}
.y32{bottom:626.430000px;}
.y31{bottom:643.964000px;}
.y6{bottom:649.936000px;}
.y30{bottom:663.491000px;}
.y5{bottom:667.550000px;}
.y2f{bottom:686.584000px;}
.y4{bottom:687.212000px;}
.y2e{bottom:704.119000px;}
.y3{bottom:704.192000px;}
.y2{bottom:721.806000px;}
.y2d{bottom:723.645000px;}
.y2c{bottom:743.308000px;}
.y1{bottom:745.041000px;}
.h7{height:29.887800px;}
.h2{height:32.727300px;}
.h6{height:32.796879px;}
.h5{height:35.912757px;}
.h4{height:39.356518px;}
.h3{height:47.227690px;}
.h8{height:391.500000px;}
.h1{height:521.500000px;}
.h0{height:792.000000px;}
.w1{width:540.000000px;}
.w0{width:612.000000px;}
.x0{left:36.000000px;}
.x1{left:39.633000px;}
.x2{left:49.942000px;}
.x3{left:63.033000px;}
.x4{left:73.942000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-4.654549pt;}
._15{margin-left:-3.310692pt;}
._0{margin-left:-1.629092pt;}
._5{width:1.629092pt;}
._10{width:16.442429pt;}
._a{width:17.846313pt;}
._1{width:19.316380pt;}
._11{width:20.971394pt;}
._f{width:23.593477pt;}
._4{width:25.888331pt;}
._7{width:29.091841pt;}
._14{width:47.153022pt;}
._c{width:59.421851pt;}
._19{width:1066.972057pt;}
._6{width:1199.186804pt;}
._18{width:1301.272654pt;}
._16{width:1330.802805pt;}
._b{width:1395.408914pt;}
._12{width:1496.617067pt;}
._3{width:1642.055467pt;}
._17{width:1706.972057pt;}
._8{width:1733.474133pt;}
._d{width:1804.510933pt;}
._13{width:1872.682667pt;}
._1b{width:1912.206407pt;}
._9{width:1987.930036pt;}
._1a{width:2018.736497pt;}
._e{width:2118.643200pt;}
.fs3{font-size:53.133867pt;}
.fs0{font-size:58.181867pt;}
.fs2{font-size:63.761067pt;}
.fs1{font-size:76.513067pt;}
.y2a{bottom:40.029333pt;}
.y29{bottom:60.752000pt;}
.y28{bottom:81.474667pt;}
.y27{bottom:105.181333pt;}
.y26{bottom:125.904000pt;}
.y25{bottom:149.610667pt;}
.y24{bottom:170.333333pt;}
.y23{bottom:194.040000pt;}
.y22{bottom:214.762667pt;}
.y49{bottom:226.168000pt;}
.y21{bottom:238.469333pt;}
.y48{bottom:252.204000pt;}
.y20{bottom:259.192000pt;}
.y1f{bottom:279.914667pt;}
.y47{bottom:282.994667pt;}
.y0{bottom:293.333333pt;}
.y1e{bottom:301.500000pt;}
.y46{bottom:309.030667pt;}
.y1d{bottom:332.137333pt;}
.y45{bottom:339.821333pt;}
.y1c{bottom:352.860000pt;}
.y44{bottom:365.857333pt;}
.y1b{bottom:373.582667pt;}
.y1a{bottom:395.961333pt;}
.y43{bottom:396.649333pt;}
.y19{bottom:416.682667pt;}
.y42{bottom:417.370667pt;}
.y18{bottom:437.405333pt;}
.y41{bottom:443.406667pt;}
.y17{bottom:459.784000pt;}
.y2b{bottom:462.000000pt;}
.y40{bottom:469.622667pt;}
.y16{bottom:480.506667pt;}
.y15{bottom:503.674667pt;}
.y3f{bottom:503.762667pt;}
.y3e{bottom:524.484000pt;}
.y14{bottom:527.160000pt;}
.y3d{bottom:547.864000pt;}
.y13{bottom:556.450667pt;}
.y3c{bottom:571.242667pt;}
.y12{bottom:577.173333pt;}
.y3b{bottom:597.278667pt;}
.y11{bottom:599.552000pt;}
.y10{bottom:620.273333pt;}
.y3a{bottom:628.069333pt;}
.yf{bottom:640.996000pt;}
.y39{bottom:651.448000pt;}
.ye{bottom:664.057333pt;}
.y38{bottom:674.828000pt;}
.yd{bottom:687.542667pt;}
.y37{bottom:700.862667pt;}
.yc{bottom:713.758667pt;}
.y36{bottom:731.654667pt;}
.yb{bottom:735.278667pt;}
.y35{bottom:755.033333pt;}
.ya{bottom:758.764000pt;}
.y34{bottom:778.412000pt;}
.y9{bottom:782.249333pt;}
.y33{bottom:804.448000pt;}
.y8{bottom:808.252000pt;}
.y7{bottom:831.737333pt;}
.y32{bottom:835.240000pt;}
.y31{bottom:858.618667pt;}
.y6{bottom:866.581333pt;}
.y30{bottom:884.654667pt;}
.y5{bottom:890.066667pt;}
.y2f{bottom:915.445333pt;}
.y4{bottom:916.282667pt;}
.y2e{bottom:938.825333pt;}
.y3{bottom:938.922667pt;}
.y2{bottom:962.408000pt;}
.y2d{bottom:964.860000pt;}
.y2c{bottom:991.077333pt;}
.y1{bottom:993.388000pt;}
.h7{height:39.850400pt;}
.h2{height:43.636400pt;}
.h6{height:43.729172pt;}
.h5{height:47.883676pt;}
.h4{height:52.475358pt;}
.h3{height:62.970254pt;}
.h8{height:522.000000pt;}
.h1{height:695.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:720.000000pt;}
.w0{width:816.000000pt;}
.x0{left:48.000000pt;}
.x1{left:52.844000pt;}
.x2{left:66.589333pt;}
.x3{left:84.044000pt;}
.x4{left:98.589333pt;}
}
